<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csp.dao.oracle.DeptMapper">

    <!--<resultMap id="empMap" type="com.csp.entity.Employee">
        <id column="EMPID" property="empId"/>
        <result column="ENAME" property="eName"/>
        <result column="SAL" property="sal"/>
        <result column="DEPTID" property="deptId"/>
    </resultMap>-->

    <sql id="baseList">
        EMPID,ENAME,SAL,DEPTID
    </sql>

    <select id="selectEmpById" resultType="com.csp.entity.Employee">
        select
        <include refid="baseList"/>
        from EMP
        where EMPID = #{id}
    </select>

    <!-- <select id="selectEmpList" resultMap="empMap">
         select
         <include refid="baseList"/>
         from EMP
     </select>

     <insert id="addEmp">
         insert into EMP (EMPID, ENAME, SAL, DEPTID)
            values
          (#{empId}, #{eName}, #{sal}, #{deptId})
     </insert>

     <update id="updateEmpById">
         update EMP set
         EMPID=#{empId},ENAME = #{eName}, SAL = #{sal}, DEPTID = #{deptId}
         where EMPID = #{id}
     </update>

     <delete id="deleteEmpById">
         delete from EMP
         where EMPID = #{id}
     </delete>-->

</mapper>
